.errorBorder {
    border-radius: 25px;
    border: 8px solid #ff0000;
    background-color: #ee6a6a;
    text-align: center;
}

.successBorder {
    border-radius: 25px;
    border: 8px solid #00FF00;
    background-color: #CCFFCC;
    text-align: center;
}

