.messageText {
    font-size: 20px;
    font-weight: bold;
}

.errorBorder {
    border: 8px solid #ff0000;
    background-color: #ee6a6a;
    text-align: center;
    height: 50px;
}

.successBorder {
    border: 8px solid #00FF00;
    background-color: #CCFFCC;
    text-align: center;
}

