.messageText {
  font-size: 16px;
  font-weight: bold;
}

.errorBorder {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  min-width: 50%;
  border: 6px solid #ff0000;
  background-color: #fa9a9a;
  text-align: center;
  height: 50px;
}

.successBorder {
  margin-top: 10px;
  padding: 5px;
  min-width: 50%;
  border-radius: 10px;
  border: 6px solid #33fc9e;
  background-color: #ccfff0;
  text-align: center;
}
