// PROJECT NAVIGATION STYLES
@import "/components/Nav/style";

//LAYOUT STYLES
@import "/components/RLLayout/style";
@import "/components/NPLayout/style";

// PROJECT CARD STYLES
@import "/components/NPCard/style";
@import "/components/PCard/style";

@import "/components/DashboardLayout/style";

@mixin large-text {
  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  }
  color: #ff0000;
}

.list-group-item {
  border: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #595959;
  color: #242424;
}
.container {
  background-color: #e3e3e3;
  border-radius: 25px;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.card-title {
  font-family: "Quicksand", sans-serif;
}

.form-control {
  border-radius: 10px;
}
