.task-card {
  border: 1px solid $softGrey;
  border-radius: 25px;
  height: inherit;
  min-height: 13rem;
  background-color: $warmWhite;
}

.task-btn {
  font-size: 16px !important;
  color: $darkText;

  &:hover {
    font-weight: bold;
    color: $alertRed !important;
  }
}

.btn-box {
  border-top: solid 1px $softGrey;

  .btn {
    background-color: $warmWhite;
    border: 0px;
    color: $allocatBlue;
    font-weight: bold;
    padding-bottom: 0;
    &:hover {
      background-color: $warmWhite;
      border: 0px;
      color: $allocatBlue;
      font-weight: bold;
      padding-bottom: 0;
      color: $allocatTeal;
    }
    &:active {
      background-color: $warmWhite;
      border: 0px;
      color: $allocatBlue;
      font-weight: bold;
      padding-bottom: 0;
      color: $allocatTeal;
    }
  }
}

.team-container {
  background-color: $container;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 25px 0 0px 25px;
}

.card-title {
  font-weight: 1000;
  font-size: 1.35rem;
}

.task-name {
  text-transform: capitalize;
}

.text-muted {
  color: $alertRed;
  font-weight: bold;
}
