.task-card {
  border: 1px solid $softGrey;
  border-radius: 25px;
  height: inherit;
  min-height: 13rem;
  background-color: $warmWhite;
}

.list-group {
  display: flex;
  position: fixed;
  top: 325px;
}

.task-btn {
  font-size: 16px !important;
  color: $darkText;

  &:hover {
    font-weight: bold;
    color: $alertRed !important;
  }
}

.alert-text {
  color: $alertRed !important;
  font-weight: bold;
}

.btn-box {
  border-top: solid 1px $softGrey;

  .btn {
    background-color: $warmWhite;
    border: 0px;
    color: $allocatBlue;
    font-weight: bold;
    padding-bottom: 0;
    &:hover {
      background-color: $warmWhite;
      border: 0px;
      color: $allocatBlue;
      font-weight: bold;
      padding-bottom: 0;
      color: $allocatTeal;
    }
    &:active {
      background-color: $warmWhite;
      border: 0px;
      color: $allocatBlue;
      font-weight: bold;
      padding-bottom: 0;
      color: $allocatTeal;
    }
  }
}
.bb-link {
  color: $allocatBlue !important;
  cursor: pointer;
  &:hover {
    color: $allocatTeal !important;
  }
  &:active {
    color: $allocatTeal !important;
  }
}

.clicked-link {
  color: $stuck !important;
  cursor: pointer;
  &:hover {
    color: $inProgress !important;
  }
  &:active {
    color: $inProgress !important;
  }
}
.team-container {
  background-color: $container;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 25px 0 0px 25px;
}

.card-title {
  font-weight: 1000;
  font-size: 1.35rem;
}

.task-name {
  text-transform: capitalize;
}

input {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

.text-muted {
  color: $alertRed;
  font-weight: bold;
}

//// Priority Levels
.hp-border {
  border: solid $highPriority 8px;
  border-radius: 42px;
}
.mp-border {
  border: solid $mediumPriority 8px;
  border-radius: 42px;
}
.lp-border {
  border: solid $lowPriority 8px;
  border-radius: 42px;
}
.undetermined {
  border: solid $darkCanvas 8px;
  border-radius: 42px;
}

/// Status Indicators
.stuck {
  border: solid $stuck 8px;
  border-radius: 33px;
}
.in-progress {
  border: solid $inProgress 8px;
  border-radius: 33px;
}
.complete {
  border: solid $complete 8px;
  border-radius: 33px;
}
.unclaimed {
  border: solid $alertRed 8px;
  border-radius: 33px;
}

.dot-hp {
  height: 15px;
  width: 50px;
  background-color: $highPriority;
  border-radius: 25px;
  display: inline-block;
}

.dot-mp {
  height: 15px;
  width: 50px;
  background-color: $mediumPriority;
  border-radius: 25px;
  display: inline-block;
}
.dot-lp {
  height: 15px;
  width: 50px;
  background-color: $lowPriority;
  border-radius: 25px;
  display: inline-block;
}

.dot-c {
  height: 15px;
  width: 50px;
  background-color: $complete;
  border-radius: 25px;
  display: inline-block;
}

.dot-p {
  height: 15px;
  width: 50px;
  background-color: $inProgress;
  border-radius: 25px;
  display: inline-block;
}

.dot-s {
  height: 15px;
  width: 50px;
  background-color: $stuck;
  border-radius: 25px;
  display: inline-block;
}
.dot-undetermined {
  height: 15px;
  width: 50px;
  background-color: $darkCanvas;
  border-radius: 25px;
  display: inline-block;
}

.dot-unclaimed {
  height: 15px;
  width: 50px;
  background-color: $alertRed;
  border-radius: 25px;
  display: inline-block;
}
