.team-toggle-nav {
  background-color: $allocatTeal;
  border: solid 2px $allocatTeal;
  color: $warmWhite;
}

.team {
  color: #2190cc;
  font-size: 30px;
  font-weight: bold;
}

.collab { 
  border-radius: 15px;
  background-color: white;
  border: 3px solid #2190cc;
  margin: 20px;
  min-height: 100px;
  height: auto;
}

.collab-name {
  font-weight: bold;
  padding: 30px 0 0 25px;
}

.allTasks {
  position: relative;
  top: 30px;
}

.assign-to-team {
  float: right;
  padding-top: 10px;
}

.unassigned-team {
  background-color: $softGrey;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.dashboard-team-cards {
  background-color: $softGrey;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.team-dash-header {
  font-size: 1.3rem;
  font-weight: bolder;
}

.accordion {
  background-color: $warmWhite;
}

.collab-name-header {
  font-size: 1.23rem;
  font-weight: bolder;
  padding: 1rem 0 0 1rem;
}

.collaborator-cards {
  padding-top: 1rem;
}
